.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  min-width: 240px;
  max-width: 280px;
  width: 100%;
  margin: 0 20px 0 0;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.card-container {
  padding: 4px 18px;
  color: #453f3f;
  margin-bottom: 10px;
}

.card-container p {
  margin: 0px;
}
.tour-title {
  font-weight: bold;
  margin: 0px 0px 5px;
  font-size: 18px;
}
.tour-country {
  padding: 6px 0px;
  color: #525254
}
.tour-info{
  padding: 2px 0px;
  color: #525254
}
.tour-price {
  font-weight: bold;
  padding: 6px 0px;
  font-size: 18px;
}
.tour-link {
  text-decoration: none;
  color: rgb(100, 100, 235);
}

.card-avatar-container {
  overflow: hidden;
  display: inline-block;
  border-radius: 20px;
}
img.avatar {
  width: 100%;
  border-radius: 20px;
  object-fit: cover;
  padding: 8px 10px 0px;
  object-position: center;
  vertical-align: middle;
  position: relative;
  border: 4px solid transparent;
}
