html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px; /* Set a default font size */
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #cccccc33;
}

.container {
  width: 300px;
  margin: 30px 30px 0;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  border-color: #ccc;
  border-width: 1px;
}

.tour-title-loading {
  margin: 10px 30px 0;
  font-size: 16px;
  padding: 0px;
  width: 300px;
  text-align: center;
}

.tour-error-handler {
  margin: 10px 30px 0;
  font-size: 16px;
  padding: 0px;
  width: 300px;
  color: red;
}

.tour-inform-handler {
  margin: 10px 30px 0;
  font-size: 16px;
  padding: 0px;
  width: 300px;
}

.custom-primary-btn {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  width: 100%;
  height: 40px;
  margin-top: 10px;
}
.custom-primary-btn:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.card-holder {
  margin: 30px;
  display: flex;
  flex-direction: row;
}

@media (max-width: 520px) {
  .card-holder {
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    width: 50%;
    min-width: 250px;
  }
}

.card-country-flag {
  vertical-align: middle;
  width: 30px;
  border-radius: 4px;
  margin-right: 6px;
  margin-bottom: 2px;
}

/* Loader spinner */
.lds-ellipsis,
.lds-ellipsis div {
  box-sizing: border-box;
}
.lds-ellipsis {
  display: block;
  position: relative;
  width: 80px;
  height: 20px;
  float: left;
  margin-top: -30px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33.33333px;
  width: 13.33333px;
  height: 13.33333px;
  border-radius: 50%;
  background: #007bff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
